.container {
  margin-bottom: 50px;
}

.sub_container {
  padding: 1rem;
}

.box {
  display: flex;
  margin: 16px 0;
}

.text {
  font-size: 1.25rem;
  padding-right: 60px;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.infos {
  border: 1px solid gray;
  padding: 10px;
  margin: 20px 0;
}

.info_box {
  display: flex;
  justify-content: space-between;
}

.fixBtn {
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}

.payBtn {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 16px 0;
  cursor: pointer;
}
