.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  bottom: 0px;
  background-color: #f4f4f5;
  z-index: 2;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  z-index: 3;
}
.header img {
  margin-right: 16px;
}

.date {
  text-align: center;
  font-size: 12px;
  color: #676a72;
  top: 80px;
  z-index: 3;
}

.chatbox {
  margin: 6px 0px 0px 38px;
  padding: 8px 10px;
  gap: 10px;
  border-radius: 3px;
}

.chatbox text {
  letter-spacing: -3%;
  font-size: 14px;
  line-height: 21px;
}

.main {
  overflow-y: scroll;
  height: 80%;
  /* display: flex;
  flex-direction: column; */
}

.chat_left {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.chat_right {
  display: flex;
  justify-content: right;
}
