.wrapper{
    position: absolute;
    width: 390px;
    height: 709px;
    left: 0px;
    top: 30px;
    background-color: #F4F4F5;
    z-index: 2;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.header{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 390px;
    height: 64px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;    ;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    z-index: 3;
}
.header img{
    margin-right: 16px;
}

.date{
    margin-top: 80px;
    text-align: center;
    font-size: 12px;
    color: #676A72;
    top: 80px;
    z-index: 3;
}

.chatbox{
    margin: 6px 0px 0px 38px ;
    padding: 8px 10px;
    gap: 10px;
    border-radius: 3px;
}

.chatbox text{
    letter-spacing: -3%;
    font-size: 14px;
    line-height: 21px;

}